/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

@media (min-width: 950px) {
    iframe {
        height: 500px !important;
        width: 900px !important;
    }


}

.rouge {
    color: crimson
}

.promotion {
    background-color: #ff0;
    /* Jaune flashy */
    font-weight: bold;
    /* Texte en gras */
    font-size: 1.2em;
    /* Taille du texte légèrement agrandie */
    padding: 10px;
    /* Ajout d'un peu de padding autour du texte */
    border-radius: 5px;
    /* Bords arrondis pour un look plus doux */
    display: inline-block;
    /* S'assure que le padding et le border-radius s'appliquent correctement */
    color: #000;
    /* Couleur de texte noire pour assurer une bonne visibilité */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Ombre légère pour un effet de profondeur */
    margin: 30px;
}


.mentionInscriptionRefus {
    font-size: 0.8em !important;
    color: darkslategray;
}

.mentionPrixInscriptionRando {
    color: firebrick;
    font-weight: bold;
}


.alerte-rouge-clair {
    padding: 10px;
    background-color: #f8d7da;
    /* Rouge clair */
    color: #721c24;
    /* Rouge foncé pour le texte */
    border: 1px solid #f5c6cb;
    /* Bordure un peu plus foncée que le fond */
    border-radius: 4px;
    /* Coins arrondis */
    margin-bottom: 15px;
    /* Espacement avec les éléments suivants */
    font-size: 14px;
    /* Taille de police */
}


label {
    color: black !important;
    font-weight: bold
}

.montantInscriptionPageInscription {
    font-weight: bold;
    color: #8B4513;
}

placeholder {
    font-size: 0.5em;
}

.radio-labelF {
    cursor: pointer;
    font-size: 16px;
    color: orchid !important;
    vertical-align: middle;
    /* Assure que le label est aligné verticalement avec le bouton radio */
    display: inline;
    /* Maintient le label sur la même ligne que le bouton radio */
}

.radio-labelM {
    cursor: pointer;
    font-size: 16px;
    color: blue !important;
    vertical-align: middle;
    /* Assure que le label est aligné verticalement avec le bouton radio */
    display: inline;
    /* Maintient le label sur la même ligne que le bouton radio */
}

.radio-input {
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    /* Aligner verticalement le bouton radio avec le texte */
    /* Les autres styles restent inchangés */
}

/* Masque les boutons radio d'origine pour permettre une personnalisation avancée */
.radio-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    /* Spécifique à Chrome et Safari */
    -moz-appearance: none;
    /* Spécifique à Firefox */
    height: 20px;
    width: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px solid #d1d3d4;
    outline: none;
    margin-top: -2px;
    /* Ajustement pour mieux aligner avec le texte, si nécessaire */
}


/* Style pour le bouton radio lorsqu'il est coché */
.radio-input[type="radio"]:checked {
    background-color: #8b4513;
    border-color: #3e1f08;
}

.title {
    font-size: 24px;
    /* Augmenter la taille de la police */
    color: #333;
    /* Couleur sombre pour contraste */
    background-color: #f7f7f7;
    /* Fond légèrement gris pour se détacher */
    padding: 20px 15px;
    /* Espacement plus grand autour du texte */
    margin-top: 30px;
    /* Ajouter plus d'espace au-dessus du titre */
    margin-bottom: 30px;
    /* Ajouter plus d'espace en dessous du titre */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Légère ombre pour du relief */
    border-radius: 4px;
    /* Bords arrondis */
    display: block;
    /* Assurez-vous que le titre est sur sa propre ligne */
}



/* Styles par défaut pour les grands écrans */
.title-big-brown {
    font-size: 6em;
    color: #8B4513;
    font-weight: bold;
}

/* Styles pour les tablettes (écrans entre 768px et 949px de largeur) */
@media (max-width: 949px) and (min-width: 768px) {
    .title-big-brown {
        font-size: 4em;
    }
}

/* Styles pour les smartphones (écrans de moins de 768px de largeur) */
@media (max-width: 767px) {
    .title-big-brown {
        font-size: 2.5em;
    }
}

.title-big-orange {
    font-size: 6em;
    color: #D25413;
    font-weight: bold;
}


/* Styles pour les tablettes (écrans entre 768px et 949px de largeur) */
@media (max-width: 949px) and (min-width: 768px) {
    .title-big-orange {
        font-size: 4em;
    }
}

/* Styles pour les smartphones (écrans de moins de 768px de largeur) */
@media (max-width: 767px) {
    .title-big-orange {
        font-size: 2.5em;
    }
}



.title-section {
    color: #8B4513;
    /* Couleur marron */
    font-weight: bold;
    /* Texte en gras */
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight {
    background-color: #69381c;
    /* Couleur de fond, ici un jaune doré pour la bannière */
    font-weight: bold;
    /* Texte en gras */
    font-size: 1.2em;
    /* 20% plus grand que le texte environnant */
    transform: rotate(-5deg);
    /* Inclinaison légère du texte */
    display: inline-block;
    /* Permet la transformation et l'application du fond */
    padding: 5px 10px;
    /* Espacement autour du texte */
    border-radius: 5px;
    /* Bords arrondis de la bannière */
    color: white
}

.marron {
    background-color: deepskyblue !important;
}

.image-container-values {
    position: relative;
    background-image: url('../img/assets/runners.png');
    height: 300px;
    background-size: cover;
    background-position: center;
}

.overlay-values {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container-values-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.image-container-values-members img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.centered-in-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
