/* css/custom.css nettoyé sans impact sur le menu/header */

@media (min-width: 950px) {
    iframe {
        height: 500px !important;
        width: 900px !important;
    }
}

.rouge {
    color: crimson
}

.promotion {
    background-color: #ff0;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

.mentionInscriptionRefus {
    font-size: 0.8em !important;
    color: darkslategray;
}

.mentionPrixInscriptionRando {
    color: firebrick;
    font-weight: bold;
}

.alerte-rouge-clair {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}

label {
    color: black !important;
    font-weight: bold
}

.montantInscriptionPageInscription {
    font-weight: bold;
    color: #8B4513;
}

placeholder {
    font-size: 0.5em;
}

.radio-labelF {
    cursor: pointer;
    font-size: 16px;
    color: orchid !important;
    vertical-align: middle;
    display: inline;
}

.radio-labelM {
    cursor: pointer;
    font-size: 16px;
    color: blue !important;
    vertical-align: middle;
    display: inline;
}

.radio-input {
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.radio-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px solid #d1d3d4;
    outline: none;
    margin-top: -2px;
}

.radio-input[type="radio"]:checked {
    background-color: #8b4513;
    border-color: #3e1f08;
}

.title {
    font-size: 24px;
    color: #333;
    background-color: #f7f7f7;
    padding: 20px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: block;
}

.title-big-brown,
.title-big-orange {
    font-size: 6em;
    font-weight: bold;
}

.title-big-brown {
    color: #8B4513;
}

.title-big-orange {
    color: #D25413;
}

@media (max-width: 949px) and (min-width: 768px) {

    .title-big-brown,
    .title-big-orange {
        font-size: 4em;
    }
}

@media (max-width: 767px) {

    .title-big-brown,
    .title-big-orange {
        font-size: 2.5em;
    }
}

.title-section {
    color: #8B4513;
    font-weight: bold;
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight {
    background-color: #69381c;
    font-weight: bold;
    font-size: 1.2em;
    transform: rotate(-5deg);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: white
}

.image-container-values {
    position: relative;
    background-image: url('../img/assets/runners.png');
    height: 300px;
    background-size: cover;
    background-position: center;
}

.overlay-values {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container-values-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.image-container-values-members img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.centered-in-col {
    display: flex;
    justify-content: center;
    align-items: center;
}